@charset "UTF-8";

.background-modal {
	display:none;
    position: fixed;
    z-index: 1;	
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background: white;
    overflow: auto;   
}
 @media screen and (min-width: 820px) 
{
	.background-modal {
	    justify-content: center;
	    align-items: center;
	    background: #353535d9;
	}
}

 @media screen and (min-width: 820px) 
{
	.container-modal-update {
		width: 66vw;
    	height: auto;
	    background: white;
	}
}
 @media screen and (min-width: 1200px) 
{
	.container-modal-update {
		width: 46vw;
	}
}

.container-icon-close {
	text-align: end;
}

.container-icon-close img {
	margin: 8% 10%;
	cursor: pointer;
	transition: 1s;
}
.container-icon-close img:hover {
	transform: scale(1.2);
}
 @media screen and (min-width: 820px) 
{
.container-icon-close img {
		width: 18px;
	    margin: 6% 8%;
	}
}

.content-modal {
	height: 70vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
 @media screen and (min-width: 820px) 
{
	.content-modal {
		height: auto;
	}
}

.title-modal-update {
	font-size: 18px;
	text-align: center;
	font-family: "Avenir-black";
	margin-bottom: 14%;
}
 @media screen and (min-width: 604px) 
{
	.title-modal-update {
		margin-bottom: 12%;
	}
}
 @media screen and (min-width: 820px) 
{
	.title-modal-update {
		font-size: 22px;
	}
}

.container-input-modal-update {
/* 	margin-bottom: 16%; */
	text-align: center;
}
/*  @media screen and (min-width: 604px)  */
/* { */
/* 	.container-input-modal-update { */
/* 		margin-bottom: 12%; */
/* 	} */
/* } */
/*  @media screen and (min-width: 820px)  */
/* { */
/* 	.container-input-modal-update { */
/* 		margin-bottom: 6%; */
/* 	} */
/* } */

.container-input-modal-update input {
    width: 90vw;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 7%;
    padding-bottom: 2%;
    caret-color: #995E06;
    cursor: pointer;
    -webkit-text-fill-color: black; 
    font-size: 14px;    
}

.container-input-modal-update input:focus  {
	outline-width: 0; 
	-webkit-text-fill-color: #995E06; 
} 
 @media screen and (min-width: 604px) 
{
	.container-input-modal-update input {
    	margin-bottom: 5%;
	}
}
 @media screen and (min-width: 820px) 
{
	.container-input-modal-update input {
		width: 54vw;
    	font-size: 16px;
	}
}
 @media screen and (min-width: 1200px) 
{
	.container-input-modal-update input {
		width: 38vw;
    	font-size: 16px;
	}
}

.container-btn-modal-update {
	margin-top: 16%;
	display: flex;
    justify-content: center;
}

 @media screen and (min-width: 604px) 
{
	.container-btn-modal-update {
		margin-top: 12%;
	}
}
 @media screen and (min-width: 820px) 
{
	.container-btn-modal-update {
		margin-top: 6%;
	}
}

.btn-modal-update  {
	border: none;
    width: 90vw;
    height: 6vh;
    align-self: center;
    background: black;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}
.btn-modal-update:hover  {
	border: 2px solid black;
	background: white;
	color: black;
}

 @media screen and (min-width: 604px) 
{
	.btn-modal-update {
		height: 5vh;
	    font-size: 14px;
	}
}
 @media screen and (min-width: 820px) 
{
	.btn-modal-update {
		width: 54vw;
		height: 44px;
	    font-size: 14px;
	   	margin-bottom: 12%;
	}
}
 @media screen and (min-width: 1200px) 
{
	.btn-modal-update {
		width: 38vw;
	}
}

.error{
	-webkit-text-fill-color: #963030!important; 
	background: #FFF2F2!important;
}

.error::placeholder{
	-webkit-text-fill-color: #963030!important; 
	background: #FFF2F2!important;
}
.container-alerty-update-user {
	display: flex;
    justify-content: center;
/*     margin-bottom: 4%; */
}

.content-alerty-update-user {
	width: 90vw;
	text-align: center;
    margin-top: 2%;
    background: #963030;
    margin-bottom: 0;
}

 @media screen and (min-width: 820px) 
{
	.content-alerty-update-user {
		width: 54vw;
	}
}

 @media screen and (min-width: 1200px) 
{
	.content-alerty-update-user {
		width: 38vw;
	}
}

.alerty-update-user  {
	margin-bottom: 0;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: 'Avenir-heavy';
}

 @media screen and (min-width: 820px) 
{
	.alerty-update-user   {
		 font-size: 12px;
	}
}
 @media screen and (min-width: 1200px) 
{
	.alerty-update-user   {
		 font-size: 14px;
	}
}

