@charset "UTF-8";


.container-page-admin {
	display: flex;
    flex-direction: row;
}

/* Nav menu admin */
.container-admin-menu {
	height: 100vh;
    width: 15vw;
    background: #232222;
    color: white;
}
.container-logo-admin {
	border-bottom: 1px solid #4a4a4a; 
	padding: 16% 13% 4%;
	margin-bottom: 16%;
}

.container-admin-menu-ul{
	padding: 16% 13%;
	margin:0;
}

.container-admin-menu-ul li{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
	margin-bottom: 28%;
	font-family: "Avenir-heavy";
	cursor: pointer;
}

.container-admin-menu-ul img{
    margin-right: 4%;
}


/* Container admin interface */
.container-admin {
    width: 85vw;
    height: 100vh;
    background: #363535;
    overflow: scroll;
    padding: 2%;
} 

.container-admin-dashbord-charts {
    display: flex;
    justify-content: space-between;
}

/* Container total des ventes */
.container-sales {
	width: 52vw;
	display: flex;
	justify-content: space-between;
    margin: 0 0 2%;
}
.container-total-sales {
	width: 25.5vw;
    height: 13vh;
    background: white;
    border-radius: 6px;
    padding: 3%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.total-CA {
	margin-left: 4%;
	font-family: 'Avenir-heavy';
    letter-spacing: 1px;
/* 	color: #f8af48; */
	color: #7b883f;
}

/* Clients */
.container-last-clients {
	margin: 1.5% 0 1.5%;
    width: 81vw;
	background: white;
    border-radius: 6px;
    padding: 3% 3% 1%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.container-last-clients h1{
    margin-left: 0!important;
}

.container-last-clients p,
.container-last-clients span {
    font-size: 16px!important;
}

.container-clients-infos,
.container-comment-infos {
	display: flex;
	margin-bottom: 2%;
}

.container-clients-infos img,
.container-comment-infos img {
	margin-right: 20px;
}

.container-clients {
	display: flex;
    align-items: center;
    flex-direction: row;
	margin-top: 1%;
} 

.container-clients-infos {
	width: 15vw;
}


.container-clients:nth-child(2) p {
	color: #7b883f
}

.container-clients:nth-child(3) p {
	color: #485e3a
}

.container-clients:nth-child(4) p {
	color: #243b2a
}

.clients1,
.clients2,
.clients3 {
	margin-right: 4%;
	margin-bottom: 0;
}


/* Container Comments Search */
.container-comments-search {
	display: flex;
	justify-content: space-between;
}

/* Comments */
.container-contact,
.container-comments {
	position: relative;
	background: white;
    width: 26vw;
    border-radius: 6px;
    padding: 3%;  
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.container-contact {
	position: relative;
}

.container-contact button,
.container-comments button {
	position: absolute;
    bottom: 0;
    border: none;
    height: 10vh;
    left: 0;
    right: 0;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.container-contact button {
    background: #0B1B1B;
}

.container-comments button {
     background: #293A2B;
}

.container-comments h1{
    margin-left: 0!important;
}

.container-admin-commments {	
   margin-top: 24%;
}

.container-comment-infos {
    margin-bottom: 8%!important;
}

.admin-comment {
	max-width: 27vw;
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 0;
}

.container-comment-infos:nth-child(1) {
	color: #7b883f;
}

.container-comment-infos:nth-child(2){
	color: #485e3a;
}

.container-comment-infos:nth-child(3) {
	color: #243b2a;
}



.admin-comment::-webkit-scrollbar {
  display: none;
}

/* Recherches */
.container-chart-search {
	background: white;
    width: 26vw;
    border-radius: 6px;
    padding: 3%;	
}

.container-leader-visites {
	display: flex;
    width: 52vw; 
    justify-content: space-between;
}

/* Leader product */
.container-leader-product {
	background: white;
    width: 17vw;
    border-radius: 6px;
    padding: 3%;
}

.container-leader-product-img {
	display: flex;
    justify-content: center;
    width: 14vw;
    margin: 28% 0;
}

.container-leader-product-img img {
	width: 10vw;
}

.leader-product {
	font-size: 18px;
	color: #293A2C;
}

/* Chart Visite */
.container-chart-visite {
	width: 34vw;
	background: white;
    padding: 3%;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}


/* container-title-infos */
.container-chart-infos, 
.container-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-chart-infos {
    margin-bottom: 12%;
}

/* title Charts */
.container-chart-infos h1,
.container-infos h1{
    font-size: 22px;
    font-family: 'Avenir-book';
    letter-spacing: 1px;
    margin-left: 4%;
}

.container-leader-product p,
.container-chart-infos p,
.container-infos p{
	font-size: 14px;
	font-family: "Avenir-light";
	margin-bottom: 0;
	color: #787878;
}

.container-leader-product span,
.container-chart-infos span,
.container-infos span {
	color: #f8af48;
	font-family: "Avenir-heavy";
	letter-spacing: 1px;
}




/* Chart Categories */
.container-chart-categories {
	width: 28vw;
	background: white;
    padding: 3%;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.container-chart-categories span {
	font-size: 13px!important;
}


/* Container data */
.container-data-admin {
	display: none;
}

.container-admin-add,
.container-admin-users {
	display: none;
}
