@charset "UTF-8";

body{
	background: #f8f8f8 !important;
}

.container-hero{
	width: 100vw;	
	overflow:hidden;
	position: relative;
	position: relative;
}

 @media screen and (min-width: 820px) 
{
	.container-hero{
   		 transform: translate(0px, -64px);
	}
}

 @media screen and (min-width: 1440px) 
{
	.container-hero{
	    transform: translate(0px, -137px);
	}
}

.video-hero {
	width: 100vw;
	height:auto;
}

.image-hero img{
	width: 100vw;
	height:auto;
}


.icon-sound {
	display: none;
}

 @media screen and (min-width: 430px) 
{
	.icon-sound {
		display: block;
		position: absolute;
	    bottom: 32px;
	    right: 33px;
	    width: 20px;
	    cursor: pointer;
	}
}

.icon-back {
	margin: 2% 4%;
	display: flex;
	cursor: pointer;
	transition-duration: 1s;
}
.icon-back:hover {
	transform: scale(1.2);
}
 @media screen and (min-width: 1200px) 
{
	.container-categorie button  {
		margin: 0% 4% 2%;
	}
}

.container-produits {
	margin-bottom: 4%;
	flex-wrap: nowrap;
	overflow-x: auto;
	margin: 3%;
	-webkit-overflow-scrolling: touch;
	display: flex;
}

  .container-produits::-webkit-scrollbar {
    display: none;
  }

 @media screen and (min-width: 820px) 
{
	.container-produits {
	    justify-content: space-evenly;
	    flex-wrap: wrap;
	    margin: 0;
	}
}
 @media screen and (min-width: 1200px) 
{
	.container-produits {
		margin: 2% 2% 7%;
    	justify-content: flex-start;
    	
	}
}

.container-card-produit {
	width: 90vw;
	margin-right: 4%;
	flex: 0 0 auto;
    padding: 6% 6%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
	background: white;
	margin-bottom: 4%;
}
 @media screen and (min-width: 820px) 
{
	.container-card-produit {
		width: 47vw;
		margin-right: 0;
		margin-bottom: 2%;
	}
}

 @media screen and (min-width: 1200px) 
{
	.container-card-produit {
    	width: 31.3vw;
    	margin-bottom: 1%;
    	padding: 3% 3%;	
    	margin-right: 1%;
	}
	
	.container-card-produit:nth-child(3n) {
    	margin-right: -2%;
	}
}

.card-produit-top {
	display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container-card-produit h1{
		font-size: 16px;	
}

 @media screen and (min-width: 820px) 
{
	.container-card-produit h1{
		font-size: 20px;	
	}
}

.card-produit-top a {
	font-family: "Avenir-light";
	font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
 @media screen and (min-width: 820px) 
{
	.container-card-produit a{
		font-size: 14px;	
	}
}

.card-produit-top a:hover{
    color: #DEB72D;
}

.container-card-produit-img {
    text-align: center;
}

.container-card-produit-img img{
   width: 70vw;
   margin-top:5%;
   margin-bottom:5%;
}
 @media screen and (min-width: 820px) 
{
	.container-card-produit-img img{
	   width: 300px;
	   padding-top:5%;  
	}
	
	.container-card-produit-img{
	height:300px;
	}
}

.card-produit-bottom {
	display: flex;
}

.card-produit-infos {
	width: 50vw;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
}

.card-produit-infos p {
   margin-bottom: 0;
   font-size: 16px;
   margin-right: 10px;
}

 @media screen and (min-width: 820px) 
{
	.card-produit-infos p {
	    font-size: 18px;
	}
}

.card-produit-infos span {
	margin-left: 4px;
    font-size: 14px;
    color: #DEB72D;
}
 @media screen and (min-width: 820px) 
{
	.card-produit-infos span {
	    font-size: 16px;
	}
}
    
.card-produit-icons-add {
	width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.card-produit-icons-add button {
    background:transparent;
    border:none;
}

.card-produit-icons-add img{
    margin-left: 24px;
    cursor: pointer;
    transition-duration: 1s;
}

.card-produit-icons-add img:hover{
   transform: scale(1.2);
}

 @media screen and (min-width: 820px) 
{
	.card-produit-icons-add img {
	    width: 25px;
	}
}