@charset "UTF-8";

body a{
	text-decoration: none;
	color:white;
}
body a:hover{
	color:white;
}
h1{
	color:white;
	font-size:24px;
	text-align:center;
}

.overflow{
	height:30vh;
	overflow:auto;
}
/* info + adresses */
.container-infos-address{
	display:flex;
}

/* user info */
.container-user-infos{
	width:30%;
	color:white;
	text-align:center;
}

/* adresses */
.container-address{
	width:30%;
	color:white;
	text-align:center;

}
/* commande + details */
.container-commands-details {
	display:flex;
}

/* commandes */

.container-commands{
	width:45%;
}

/* details commande */

.container-details{
	width:45%;
}

.date-prix p{
	color:white;
}


/* commentaire + contact */
.container-comm-contact{
	display:flex;
}

/* commentaires */

.container-commentaires{
	width:45%;
}

/* contact */
.container-contact{
	width:45%;
}



