@charset "UTF-8";


h1{
	color:white;
	font-size:24px;
}

table{
	background:#293A2B;
	color:white;
}

thead{
	font-size:20px;
}
thead tr th{
	column-width:10vw;
	vertical-align:middle;
}
tbody tr td{
	vertical-align:middle;
	text-align:center;
}

/* info + adresses */
.container-infos-address{
	display:flex;
}

/* user info */
.container-user-infos{
	margin:2%;
	padding:2%;
	width:30%;
	color:white;
	text-align:center;
}

/* adresses */
.container-address{
	margin:2%;
	padding:2%;
	width:30%;
	color:white;
	text-align:center;
}
/* commande + details */
.container-commands-details {
	display:flex;
}

/* commandes */



/* commentaire + contact */
.container-comm-contact{
	display:flex;
}

/* commentaires */


/* contact */




